# Pandas

### Introduction to Pandas

Pandas is an open source library built on top of Numpy.It allows for fast analysis and data cleaning and preparation. It excels in performance and productivity. It also has built-in visaulisation features. It can work with data from a variety of sources. It can be thought of as python's version of excel. It can be installed by using #conda install pandas or pip install pandas.
* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating data frames
* Operations
* Data Input and Output

## Series

In [24]:
import numpy as np

In [28]:
import pandas as pd

In [34]:
labels = ['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

Below we look at how to create a series and what it looks like

In [45]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

* Notice that we have indexes on the left. These indexes can actually be defined to what you want them to be.
* See below

In [50]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [52]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

* You can also pass arrays and index the elements

In [61]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [63]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

* You can also pass a dictionary into a series
* The Keys will become the indexes and the values the coressponding data point

In [67]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

A series can also also take in the labels

In [70]:
labels

['a', 'b', 'c']

In [72]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

A series can hold almost any data object with python

In [75]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

# Using Series

In [92]:
ser1 = pd.Series([1,2,3,4],['Namibia','Angola','Zambia','Zimbabwe'])

In [94]:
ser1

Namibia     1
Angola      2
Zambia      3
Zimbabwe    4
dtype: int64

Grabbing info from a series

In [101]:
ser1['Zambia']

3

We pass in the index which in the case above is a string into the series

In [109]:
ser3=pd.Series(data=labels)

In [111]:
ser3

0    a
1    b
2    c
dtype: object

In [113]:
ser1

Namibia     1
Angola      2
Zambia      3
Zimbabwe    4
dtype: int64

In [121]:
ser2 = pd.Series([1,2,5,4],['Namibia','Angola','Botswana','Zimbabwe'] )

In [123]:
ser2

Namibia     1
Angola      2
Botswana    5
Zimbabwe    4
dtype: int64

In [125]:
ser1

Namibia     1
Angola      2
Zambia      3
Zimbabwe    4
dtype: int64

In [127]:
ser2

Namibia     1
Angola      2
Botswana    5
Zimbabwe    4
dtype: int64

* For ser1+ser2
* It will try to match the operations using the index.
* Where a match is not found NaN will be output.
* When performing opertions with pandas and Numpy series your integers are going to be converted into floats.

In [139]:
ser1+ser2

Angola      4.0
Botswana    NaN
Namibia     2.0
Zambia      NaN
Zimbabwe    8.0
dtype: float64